Workshop-Tasks/**/.settings/
Workshop-Tasks/**/Debug/
Workshop-Tasks/**/Drivers/
Workshop-Tasks/**/Middlewares/
Workshop-Tasks/**/USB_HOST/
Workshop-Tasks/**/.cproject
Workshop-Tasks/**/.mxproject
Workshop-Tasks/**/.project
Workshop-Tasks/**/STM32F407VGTX_FLASH
Workshop-Tasks/**/STM32F407VGTX_FLASH.ld
Workshop-Tasks/**/STM32F407VGTX_RAM.ld


